<div>
  <div class="card">
    <div class="d-flex justify-content-center card-img">
      <%= image_tag 'logo.png', width: '200px' %>
    </div>
    <div class="card-img-overlay mt-4 mx-5">
      <ul class="list-group-horizontal list-unstyled d-flex flex-row-reverse">
        <li class="mx-2">
          <i class="fas fa-home"></i>
          <%= link_to "Sign up", "/users/sign_up", style: "color:#66CC33; font-size: 25px;" %>
        </li>
        <li class="mx-2">
          <i class="fas fa-link"></i>
          <%= link_to "Log in", "/users/sign_in", style: "color:#66CC33; font-size: 25px;" %>
        </li>
      </ul>
    </div>
  </div>
<div>

<div class="text-success text-center mt-3">
  <h1 class="display-1 font-weight-bold">Welcome to Olive!</h1>
  <h2 class="mt-5">ここでは香川の魅力をみんなで共有することができます!</h2>
  <h2>香川にはうどん以外にも素敵なものがたくさんあります！</h2>
  <h2 class="mb-5">みんなで広めましょう！</h2>
</div>