<header>
  <nav class='navbar navbar-expand-lg navbar-light' style="background-color: #66CC33;">
    <div class='container'>
      <div>
        <% if user_signed_in? %>
        <div class="d-flex">
          <div class="mr-auto text-light">
            <h4>こんにちわ、<%= @user.name %>さん！</h4>
          </div>
          <div class="text-light">
            <i class="fas fa-sign-out-alt"></i>
            <%= link_to "ログアウト", destroy_user_session_path, style:"color:white;",method: :delete %>
          </div>
        </div>
        <% else %>
          <ul class="navbar-nav">
            <li class="mx-2">
              <i class="fas fa-home text-light"></i>
              <%= link_to "トップ", "/", style:"color:white;" %>
            </li>
            <li class="mx-2">
              <i class="fas fa-link text-light"></i>
              <%= link_to "アバウト", "/home/about", style:"color:white;" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>